<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <meta name="description" content="About page">
    <link rel="stylesheet" type="text/css" href="theme.css">

    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <h1>About</h1>
      <img src="img/florian-assante.jpg" alt="Florian Assante" />
  </body>
</html>